*{
    box-sizing: border-box;
}

body{
    background-color: black;
}
nav{
    display:flex;
    align-items: center;
    height:80px;
}

.navLogo{  
    padding: 0 80px;  
}

.backIcon{
    display:none;
    width:32px;
    height:32px;
}

.navUl{
    color:white;
    list-style:none;
    display:flex;
    gap: 50px;
    margin-left: 100px;;
    }

.navList{
    white-space: nowrap;
    padding: 12px 0;
}

.textSupport{
    display:none;
    color:white;
    white-space: nowrap;
    width:126px;
    height:26px;
    font-weight: 600;
    font-size:20px;
    line-height: 130%;
    letter-spacing: -3%;
}
.hamburgerBar{
    display:none;
    color:white;
    font-size:25px;
    width:32px;
    height:32px;
}
.sectionBar{
    display: none;
}
section{
    margin:0;
}
.sectionContainer{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    padding: 0 120px;
}
.sectionLeft{
    display:flex;
    flex-direction: column;

    width:904px;
    gap:30px;
}

.sectionTitle{
    width:273px;
}
.sectionTitle1{
    color:white;
    font-weight: 600;
    font-size: 15px;
}
.sectionTitle2{
    color:white;
    font-weight: 600;
    font-size: 20px;
}
.sectionContent{
    /*
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.rightFunction{
    display:flex;
    flex-direction: column;
    top:80px;
    right:80px;
    justify-content: flex-start;
    position:fixed;
    gap:20px;
}

.sectionRight{
    display:flex;
    justify-content: flex-start;

    gap:40px;
}
.sectionRSecond_p{
    margin: 0 0 45px 0;
}

.sectionR_first{
}
.sectionR_second{
    display:flex;
    flex-direction: column;
    color:white;
    font-size: 15px;
    width:135px;
    height:30px;
}

article{
    display:flex;
    flex-direction: column;
    white-space:nowrap;
}
.articleContainer{
    display:flex;
    align-items: flex-start;
    gap:24px;
    margin:15px 0;
}
.article_InputRight{
    padding:16px;
    font-size:14px;
    width:300px;
}
.article_InputRight span{
    color:#FF7710;
}


.article_InputRight p{
    color:#8C827D;
    margin:0;

}
.article_Leftcontainer{
    color:white;
    width:208px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.article_Leftcontainer > p {

}

.article_InputRight{
    display: flex;
    flex-direction: column;
}

.article_title{
    color:white;
    font-size: 15px;
    text-align: left;
    width:208px;
    gap:16px;
}

article input{
    border-radius: 50px;
    width: 500px;
    padding:16px;
}
article input:focus {
    outline: none;
}

.article_last{
    display: flex;
    align-items: center;
}

.articleLast_buttons{
    display:flex;
    width:670px;
    justify-content: flex-start;
}
.articleButton_first{
    color:white;
    background-color: #FF7710;
    border-radius: 50px;
    font-size:15px;
    padding:8px;
    margin-right: 4px;
    width:150px;
    font-weight: 600;
}
.articleButton{
    background-color: white;;
    border-radius: 50px;
    width:150px;
    font-weight: 600;
    margin-right: 4px;
}
.rightFunction{
    display: flex;
}

.rightBarBefore{
    color:rgb(0, 0, 0);
    background-color: #ffffff;
    border:0;
    border-radius: 50px;
    font-size:15px;
    padding:8px;
    margin-right: 4px;
    width:100%;
    font-weight: 600;
}
.rightBarNext{
    color:white;
    background-color: #FF7710;
    border-radius: 50px;
    font-size:15px;
    padding:8px;
    margin-right: 4px;
    width:100%;
    font-weight: 600;
}

.footerSource{
    width:206px;
    margin-right:60px;
}
.footerContainer1{
    display:none;

}

.footerContainer2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    white-space: nowrap;
    margin-top: 70px;
}

.footerBind{
    display: flex;
    justify-content: center;
}
.textFooter{
    color:rgb(199, 199, 199);
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -3%;
    gap:20px;
    margin-top: 0;
}

.textFooter2{
    color:rgb(199, 199, 199);
    font-size: 13px;
    line-height: 130%;
    letter-spacing: -3%;
    gap:20px;
}

@media all and (max-width : 990px) {
    .navUl {
        display: none;
    }
    .navLogo{
        display:none;
    }
    .sectionRight{
        display:none;
    }

    .backIcon{
        display:flex;
    }
    .textSupport{
        display:flex;
    }

    .hamburgerBar{
        display:flex;
    }
    .sectionBar{
        display: flex;
        justify-content: center;
    }
    nav{
        justify-content: space-between;
        padding: 0 20px;
    }

    .articleContainer{
        flex-direction: column;
    }
    .sectionLeft{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .sectionTitle{
        justify-content: center;
        text-align: center;
    }
    .article_last{
    align-items: flex-start;
    }

    .articleLast_buttons{
        justify-content: flex-end;
        width:500px;
    }
    .articleButton_first{
        margin-right:3px;
        padding:10px;
        width:200px;
    }
    .rightButton,.rightdownButton{
        display: none;
    }
    #nextB{
        width:500px;
    }
    .articleButton{
        margin-right:3px;
        width:200px;
    }
    .footerSource{
        margin-right: 250px;
    }
    .footerContainer1{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .footerContainer1 .articleButton_first{
        width:300px;
    }

}